@import 'mixin';

.card {
  @include round;
  @include outsideBorder;
  pointer-events: auto;
  padding-top: 6px;
  margin: 10px 0 0 10px;
  background-color: white;
}

.cardContent {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
}

.cardActions {
  @extend .cardContent;
  margin-left: -6px;
  margin-right: -6px;
}
